## Function

In [6]:
def my_function():
    print('Hello World')
my_function()

Hello World

In [92]:
def add(a,b):
    result=a+b
    print('Sum of a and b is: ', result)

add(3,5)
add(4,6)
add(7,9)

Sum of a and b is:  8
Sum of a and b is:  10
Sum of a and b is:  16

### Write a function to calculate the exponentiation of two numbers

In [19]:
def exp(a, b):
    result = a ** b
    print(result)

exp(2,3)
exp(2,2)
exp(4,9)

8
4
262144

### Return

In [30]:
def add(a, b):
    result = a + b
    return result
    
result = add(4,9)
print(result)

13

### Argument

In [37]:
def greeting(name):
    print('Hello'+' '+ name)

greeting("John")

Hello John

### Arguments Types
#### 1. Arbitary Argumnet: 
##### function will return tuple if arguments when we add a * before argument name in function definition

In [49]:
def my_function(*student):
    print('The brightest student is'+' '+student[0])

my_function('Krisha', 'Rubi', 'Suravi', 'Dolma')

The brightest student is Krisha

#### 2. Keyword Arguments: 
##### we can send arguments in key=value syntax. Order of argumemts doesnot matter

In [53]:
def my_function(a, b, c):
    print('The result is '+a)

my_function(a='Tony',b='John',c='Jenna')

The result is Tony

#### 3. Arbitary Keyword Argument
##### returns the result in the form of dictionary

In [82]:
def my_function(**student):
    print('The brightest student is '+ student['student1'])
    print(student)

my_function(student1='Tony',student2='John',student3='Jenna')

The brightest student is Tony
{'student1': 'Tony', 'student2': 'John', 'student3': 'Jenna'}

In [80]:
def data(**my_data):
    print(my_data)
    print(my_data['name'])

data(name="Krisha", age=22, address="Lalitpur")

{'name': 'Krisha', 'age': 22, 'address': 'Lalitpur'}
Krisha

#### 4. Default Argumnet

In [88]:
def my_function(country = 'Nepal'):
    print('I am from ' +country)

my_function('Norway')
my_function('USA')
my_function() # default argumnet
my_function('India')

I am from Norway
I am from USA
I am from Nepal
I am from India

In [106]:
def add(a,b):
    result=a/b
    print(result)

add(4, 2)
add(16,4)

#add(2,4,8) # will throw error

2.0
4.0

### Lambda Function
#### it can take any number of arguments but one expression

In [112]:
x = lambda a:a+5+10+15
print(x(5))

35

In [117]:
x = lambda a, b:a*10+b*5
print(x(1,2))

20

In [125]:
x = lambda a,b,c,d,e:a*10+b*c+d/10+e
print(x(2,1,3,5,1))

24.5

In [129]:
x = lambda a, b, c:a**b**c
print(x(2,3, 2))

512

In [137]:
### square root using lambda function
import math
sqrt = lambda x:math.sqrt(x)
result = sqrt(16)
print(result)

4.0